<ion-list lines="none">
  <ion-item> 
    <h2>Triángulo Equilátero</h2>
  </ion-item>
  <ion-item>
<ion-input [(ngModel)]="ladosStr" label="Lados" type="number" fill="outline" placeholder="Ingrese la medida de los lados del Triángulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="calcularPerimetro()">Calcular perímetro</ion-button>
  </ion-item>
  <ion-item>
    {{ resultado }}
  </ion-item>
  <ion-item>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://t1.uc.ltmcdn.com/es/posts/8/2/0/calcular_el_perimetro_de_un_triangulo_equilatero_40028_1_600.webp" />
      <ion-card-header>
        <ion-card-title>Perímetro del Triángulo Equilátero</ion-card-title>
        <ion-card-subtitle>Como calcularlo:</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <p>
          Los triángulos equiláteros son aquellos cuyos tres lados tienen la misma longitud y, por consiguiente, sus ángulos también miden lo mismo. Así pues, para obtener el perímetro de un triángulo equilátero, deberás multiplicar por tres el valor de la longitud de su lado:
        </p>
        <br>
        <h5>
          P = 3 x l
        </h5>
        <br>
        <p>
          Donde P es el perímetro y l es la longitud del lado.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>