<ion-list lines="none">
  <ion-item> 
    <h2>Triángulo Escaleno</h2>
  </ion-item>
  <ion-item>
<ion-input [(ngModel)]="lado1Str" label="Lado 1" type="number" fill="outline" placeholder="Ingrese el lado 1 del  triángulo"></ion-input>
<ion-input [(ngModel)]="lado2Str" label="Lado 2" type="number" fill="outline" placeholder="Ingrese el lado 2 del  triángulo"></ion-input>
<ion-input [(ngModel)]="lado3Str" label="Lado 3" type="number" fill="outline" placeholder="Ingrese el lado 3 del  triángulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="calcularPerimetro()">Calcular perímetro</ion-button>
  </ion-item>
  <ion-item>
    {{ resultado }}
  </ion-item>
  <ion-item>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://t1.uc.ltmcdn.com/es/posts/8/2/0/calcular_el_perimetro_de_un_triangulo_escaleno_40028_3_600.webp" />
      <ion-card-header>
        <ion-card-title>Perímetro del Triángulo Escaleno</ion-card-title>
        <ion-card-subtitle>Como calcularlo:</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <p>
          En los triángulos Escalenos, cada uno de los lados tiene un tamaño distinto. Así pues, en este caso, deberás limitarte a sumar el valor de las tres longitudes para obtener así el perímetro:
        </p>
        <br>
        <h5>
          P = a + b + c
        </h5>
        <br>
        <p>
          Donde:  a, b y c son las longitudes de los tres lados del triángulo.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>